.cards1{
min-width: 20%;
min-height:20%;
background-color: gray;
border-radius: 5px;
display: inline-block;
margin:10px;

}
.cards1:hover{
  box-shadow:2px 2px 10px black;
}
.image1 img{
width:100%;
border-radius: 50px;
}
.title1{
  text-align: center;
}
.cards2{
width: 100%;
min-height:20%;
background-color: gray;
border-radius: 5px;
display: inline-block;
margin:10px;
}
.cards2:hover{
  box-shadow:2px 2px 10px black;
}

.title2{
  text-align: center;
}
