<style>

h3{
  padding-left: 5px;
  color: white;
}

.formaction{
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 15px;
}
.container{
background-color: green;
padding: 1px;
border-radius: 15px;
text-align: center;
}

.contain{
  margin-left: 40%;
  margin-right: 40%;
background-color: Grey;
  margin-top: 30px;
  padding-bottom: 30px;
  border: 1px;
}
input[type=text]{
  width:90%;
  height:4%;
}
select{
  width:90%;
  height:4%;
}

input[type=number]{
  width:90%;
  height:4%;
}
input[type=password]{
  width:90%;
  height:4%;
}
input[type=SUBMIT]{
  width:90%;
  height:4%;
  color:white;
  background-color: red;
}
.submit{
width:90%;
  height:4%;
  color:white;
  background-color: red;
}
a{
  text-decoration: none;
  color: white;

}
a:hover{
  color: black;
}
</style>
